$sample-font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
.header {
  background-color: darken($color: blue, $amount: 40);
  height: 70px;
  width: 100%;
  border-bottom: white 2px solid;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.header-title {
  font-family: $sample-font-sans-serif;
  font-size: 20px;
  color: whitesmoke;
  margin-left: 20px;
}
